@using PROJECT_QUIZ.Models.Models;
@model QuestionsAnswers
@{
    ViewData["Title"] = "Play";
}

<h1></h1>
<h1>Play</h1>


@foreach (var item in Model.Questions)
{
    <div style="margin-left: auto; margin-right: auto; text-align: center;">
        <asp:Label ID="Label3" runat="server" Text="ABC" Font-Bold="true" Font-Size="X-Large"
                   CssClass="StrongText"><h3>@item.QuestionText</h3></asp:Label>
            </div>


            @foreach (var answer in Model.Answers)
            {

                if (item.QuestionID == answer.QuestionId)
                {
                    <table class="table">
                    <tr>
                        <td>
                            <div style="margin-left:60px; vertical-align: central;">
                                <asp:Label ID="Label3" runat="server" Text="ABC" Font-Bold="true" Font-Size="X-Large"
                                CssClass="StrongText"><b>@answer.AnswerText</b></asp:Label>
                            </div>

                        </td>
                    </tr>
                    </table>



                }
             }
 }

