@model IEnumerable<PROJECT_QUIZ.Models.Models.Leaderboard>

@{
    ViewData["Title"] = "Leaderboard";
}

<h1>Leaderboard</h1>

<table class="table">
    <thead>
        <tr class="table-success">
            <th scope="row">
                @Html.DisplayNameFor(model => model.Score)
            </th>
            <th scope="row">
                @Html.DisplayNameFor(model => model.Username)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Score)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Username)
            </td>
        </tr>
}
    </tbody>
</table>
